<%= form_for(@beer_maker) do |f| %>
  <% if @beer_maker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beer_maker.errors.count, "error") %> prohibited this beer_maker from being saved:</h2>

      <ul>
      <% @beer_maker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :date_of_founding %><br>
    <%= f.date_select :date_of_founding %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
